@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --bg-brey: #ddd;
    --color-primary: #4D41C0;
    --white: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background-color: var(--bg-brey);
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.dsmovie-contac-container {
    display: flex;
    align-items: center;
}

.dsmovie-contac-container img {
    margin-right: 10px;
}